<div id="maps"
     style="
             width:{{ width }};
             height: {{ height }};
             border: {{ border }} solid {{ color_border }} ;
             padding: {{ padding_maps }};
             ">
    
</div>