<div class="google_maps"
     style="
             border: {{ border }} {{ color_border }} ;
             padding: {{ padding_maps }};
             border-radius: {{ border_radius }}
             ">
    <div id="maps"
         style="
                 width:{{ width }};
                 height: {{ height }};
                 border-radius: {{ border_radius }}
                 ">

    </div>
</div>
